{% extends 'layouts/metronic.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block body %}
<div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title  m-subheader__title--separator">
                    Clientes
                </h3>
            </div>
        </div>
    </div>
    <div class="m-content">
        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-12">
                    <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Clientes disponibles en el sistema
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                
                                <!-- Begin Datatable HTML -->
                                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
									<div class="row align-items-center">
										<div class="col-xl-12 order-2 order-xl-1">
											<div class="form-group m-form__group row align-items-center">
												<div class="col-md-12">
													<div class="m-input-icon m-input-icon--left">
														<input type="text" class="form-control m-input" placeholder="Buscar..." id="generalSearch">
														<span class="m-input-icon__icon m-input-icon__icon--left">
															<span>
																<i class="la la-search"></i>
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<!--end: Search Form -->
		                        <!--begin: Datatable -->
								<table class="m-datatable" id="html_table" width="100%">
									<thead>
										<tr>
											<th title="codigo">
												Codigo
											</th>
                                            <th title="estado">
												Estado
											</th>
                                            <th title="estado">
												Correo
											</th>
                                            
										</tr>
									</thead>
									<tbody>
											{% if (registros | length)>0 %}
                                                {% for registro in registros %}
                                                <tr>
                                                    <td>
                                                        {{ registro.id }}
                                                    </td>
                                                    <td>
                                                        {{ registro.unEstado.nombre }}
                                                    </td>
                                                    <td>
                                                        {{ registro.nombre }}
                                                    </td>
                                                   
                                                </tr>
                                                {% endfor %}
                                            {% endif %}
                                    </tbody>
                                </table>
								<!--end: Datatable -->
                            </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
