<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include('inc/stylesheet.html.twig') %}
    </head>
    <body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
            {% include('inc/navbar.html.twig') %}
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<!-- BEGIN: Left Aside -->
				<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
					<i class="la la-close"></i>
				</button>
                {% include('inc/sidebar.html.twig') %}
                <div class="m-grid__item m-grid__item--fluid m-wrapper">
                    <!-- Aca va el contenido -->
                    {% block body %}{% endblock %}
                </div>
            </div>
            {% include('inc/footer.html.twig') %}
        </div>
        {% include('inc/quickbar.html.twig') %}
        {% include('inc/scrolltop.html.twig') %}
        {% include('inc/javascript.html.twig') %}
    </body>
</html>
